{% for copy in copies %}
    {% set book = copy.book %}
    <div class="list-group-item d-flex">
        {% if book.coverFileName is not empty %}
            <div class="me-2">
                <img src="{{ vich_uploader_asset(book, 'cover') }}" style="max-width: 50px">
            </div>
        {% endif %}

        <div class="align-self-start flex-fill">
            {{ book.title }} <span class="badge text-bg-primary"><i class="fas fa-barcode"></i> {{ copy.barcodeId }}</span>

            {% if book.subtitle is not empty %}
                <span class="text-muted d-block">{{ book.subtitle }}</span>
            {% endif %}

            {% if book.barcodeTitle is not empty %}
                <span class="badge text-bg-secondary"><i class="fas fa-barcode"></i> {{ book.barcodeTitle }}</span>
            {% endif %}

            {% if manager.checkedOut(copy) %}
                {% set lastCheckout = copy.checkouts.first %}
                {% if lastCheckout is not empty and lastCheckout.borrower is not null and lastCheckout.end is null %}
                    <div class="alert alert-danger">
                        {{ 'checkout.errors.checked_out'|trans({'%lastname%': lastCheckout.borrower.lastname, '%firstname%': lastCheckout.borrower.firstname }) }}
                    </div>
                {% endif %}
            {% elseif not copy.canCheckout %}
                <div class="alert alert-danger">
                    {{ 'checkout.errors.cannot_checkout'|trans }}
                </div>
            {% else %}
                <div class="alert alert-success">
                    {{ 'checkout.ok'|trans }}
                </div>
            {% endif %}
        </div>


    </div>
{% endfor %}